.profile__edit-button {
    margin: 37px 0 0 17px;
    max-width: 24px;
    max-height: 24px;    
    box-sizing: border-box;
    transition: opacity .3s ease;
}

.profile__edit-button:hover {
    opacity: .6;
    cursor: pointer
}

@media screen and (max-width: 767px) {
    .profile__edit-button {
        margin: 34px 0 0 10px;
        max-width: 18px;
        max-height: 18px; 
      }
}